/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}


/* HEADER */

.header-container {
    height: 80px;
    background-color: #FF6900;
    box-shadow: 2px 0 5px black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container .header__nav {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav div {
    width: calc(100% / 3);
}

.header__catalog {
    font-weight: bold;
}

.header__logo {
    text-align: center;
}

.header__logo img {
    height: 30px;
}

.header__profile {
    text-align: right;
}


/* MAIN */

.main-container {
    max-width: 70%;
    margin: 80px auto;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: calc((100% / 3) - 20px);
    min-height: 650px;
    min-width: 400px;
    margin-bottom: 80px;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
}

.product__2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.card:hover .product__2 {
    display: block;
}

.favourite {
    width: 50px;
    height: 50px;
    background-color: white;
    font-size: 2.5rem;
    text-align: center;

    position: absolute;
    top: 10px;
    right: 0;
}

.favourite:hover {
    color: red;
}

.label {
    color: white;
    font-weight: bold;
 
    position: absolute;
    bottom: 50px;
    left: 0;
}

.sales {
    background-color: red;
    padding: 5px 10px;
}

.sustainability {
    background-color: green;
    padding: 5px 10px;
}

.product__name {
    font-weight: bold;
    font-size: 1.1rem;
}

.price {
    color: red;
    font-weight: bold;
    margin-right: 5px;
}

.cancelled {
    text-decoration: line-through;
}

/* FOOTER */

footer {
    height: 100px;
    background-color: #1A1A1A;
}

.footer-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: white;
}

.information {
    width: 85%;
}

.socials {
    width: 15%;
}

.information div {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.socials div {
    font-weight: bold;
    margin-bottom: 10px;
}

.socials i {
    font-size: 1.5rem;
    padding-right: 5px;
}